:root {
    --white: #E0DFDA;
    --gray: #CCCCC2;
    --lightBlue: #9BA8A9;
    --blue: #0A0E2A;
    --pink: #D8A99C;
    --darkPink: #A6746A;
}

body {
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:600;
    margin: 0;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--pink);
    height: 100vh;
    margin: 0;
}
#mainContainer {
    background: var(--pink);
    border: 2px solid transparent;
    box-sizing: border-box;
    width: 90%;
    min-width: 940px;
    max-width: 940px;
    min-height: 700px;
    border-radius: 2.5rem;
    box-shadow: var(--darkPink) 10px 8px 15px 1px;
    margin-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow: hidden;
    margin-right: 0;
}
#flexContainer {
    display:flex;
    justify-content: space-between;
    padding: 2rem 0 0 6.5rem ;
    box-sizing: border-box;
    position: relative;
    z-index: 8;
}
#myName {
    color: var(--white);
    font-size: 7.2rem;
    margin: 0;
    /* position: relative; */
}
#hello {
    color: var(--white);
    font-size: 30px;
    margin-bottom: 0;
}
#hireMe {
    background: transparent;
    position: absolute;
    border: var(--white) .2rem solid;
    border-radius: .3rem;
    padding: .8rem 2rem;
    color: var(--white);
    font-family: 'Open Sans Condensed', 'sans-serif';
    font-weight: 800;
    font-size: 20px;
}
#hireMe:hover {
    background-color: var(--blue);
    cursor: pointer;
}
#introPara {
    color: var(--white);
    width: 16rem;
    font-size: 20px;
}
/* Right Menu */
#sideMenu {
    margin-top: 50px;
    z-index: 8;
    position: absolute;
    right: 5px;  
}
#menuBar {
    writing-mode: vertical-lr;
    display: flex;
    color: var(--gray);
    z-index: 8;
    margin-right: 0;
    padding-top: 0;
}
.liMenu {
    list-style-type: none;
    font-size: 20px;
    padding: 25px;
    padding-right: 5px;
}
li #catImage {
    width: 30px;
}
.liMenu:hover {
    color: var(--blue);
    cursor: pointer;
    background-color: var(--darkPink);
}

/* Side Menu */
#menuHTMLWrapper  .position{
    position:absolute;
    right: 80px;
    background: var(--darkPink);
    width: 300px;
    transition: margin-right 1s ease-out;
    z-index: 7;
    border-radius:  8px;
    text-align: right;
    padding: 15px;
    margin-top: 100px;
    opacity: .9;
    color: var(--white);
}
.show {
    z-index: 7;
    margin-right: -490px;
    transition: margin-right 1s ease-out;
}
#menuHTMLWrapper{
    color:var(--white);
    writing-mode:horizontal-tb;  
    z-index: 6;
    opacity: 1;   
}
#homeBtn a{
    text-decoration: none;
    color: var(--white);
}
#contactHTML h3 {
    font-size: 30px;
}
#contactHTML {
    position: relative;
    background: var(--darkPink);
    width: 300px;
    transition: margin-left 1s ease-out;
    z-index: 7;
    border-radius:  8px;
    text-align: right;
    padding: 15px;
    margin-top: -215px;
    opacity: .9;
    z-index: 9;
}
.contactCss {
    margin-left: 980px;
    color: var(--white);
}
.show2 {
    margin-left: 530px;
    transition: margin-right 1s ease-out;
}
.contactCss a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.contactCss input {
    width: 200px;
}
.contactCss textarea{
    height: 100px;
    text-align: start;
    width: 202px;
    margin-top:5px;
}
#contactHTML input {
    background-color: var(--blue);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    border: transparent;
    margin-bottom:2px;
}
#contactHTML textarea {
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    border: transparent;
}
#contactHTML p, h3 {
    margin-top: 0;
}
#contactHTML input[type=submit]{
    color: var(--white);
    width: 100px;
    margin: 0 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    border:transparent;
}
/* Fun Tab */
#weather {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px outset var(--white);
    border-radius:  10px;
}
#location {
    display: flex;
    height: 1rem;
    margin-top: 1.5rem;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
#temperature {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}
#degreeWrapper {
    display: flex;
    align-items: center;
}
#degreeWrapper span{
margin: 8px;
font-size: 25px;
}
#degreeWrapper h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}
#gamePara {
    font-size: 20px;
}
#pongLink {
    text-decoration: none;
    font-size: 28px;
    color: var(--lightBlue);
    padding: 5px;
    border: 1px outset white;
    border-radius: 5px 20px 5px;
}
#pongLink:hover {
    background-color: var(--blue);
}
/* Pong Popup */

#pongCanvas {
    width: 600px;
    height: 400px;
}


/* Bottom Icons */
#icons {
    padding-left: 6.5rem;
    z-index: 8;
    margin-top:  100px;
   }
   #ulIcons {
       display:flex;
       list-style-type: none;
       padding-left: 0;
       margin: 0;
       z-index: 8;
   }
   .liIcons {
       padding-right: 2rem;
       z-index: 8;
       
   }
   .liIcons a{
       text-decoration: none;
       font-size: 40px;
       color:var(--white)
   }
   #bgImage {
       left: 50%;
       position: absolute;
       z-index: 1;
       height: auto;
       max-height: 692px; 
       opacity: 0.7;
       border: 2px solid var(--white);
       border-radius: 10px;
   }


/* Media */


@media (max-width: 1000px){
 
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden ;
    
}
#mainContainer {
    background: var(--pink);
    border: 2px solid transparent;
    box-sizing: border-box;
    min-width: 550px;
    min-height:  700px;
    border-radius: 2.5rem;
    box-shadow: var(--darkPink) 10px 8px 15px 1px;
    margin-top: 0;
    padding-right: 0;
    overflow:hidden;
    margin-right: 0;
}
#flexContainer {
    display:flex;
    justify-content: space-between;
    padding: 2rem 0 0 1.5rem ;
    box-sizing: border-box;
    position: relative;
    z-index: 8;
}
#myName {
    color: var(--white);
    font-size: 7.2rem;
    margin: 0;
    /* position: relative; */
}
#hello {
    color: var(--white);
    font-size: 30px;
    margin-bottom: 0;
}
#hireMe {
    background: transparent;
    position: absolute;
    border: var(--white) .2rem solid;
    border-radius: .3rem;
    padding: .8rem 2rem;
    color: var(--white);
    font-family: 'Open Sans Condensed', 'sans-serif';
    font-size: 1rem; 
}
#hireMe:hover {
    background-color: var(--blue);
    cursor: pointer;
}
#introPara {
    color: var(--white);
    width: 16rem;
    font-size: 20px;
}
/* Right Menu */
#sideMenu {
    margin-top: 50px;
    z-index: 8;
    position: absolute;
    right: 5px;  
}
#menuBar {
    writing-mode: vertical-lr;
    display: flex;
    color: var(--gray);
    z-index: 8;
    margin-right: 0;
    padding-top: 0;
}
.liMenu {
    list-style-type: none;
    font-size: 20px;
    padding: 25px;
    padding-right: 5px;
}
li #catImage {
    width: 30px;
}
.liMenu:hover {
    color: var(--blue);
    cursor: pointer;
    background-color: var(--darkPink);
}
/* Bottom Icons */
#icons {
 padding-left: 2rem;
 z-index: 8;
 margin-top:  100px;
}
#ulIcons {
    display:flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    z-index: 8;
}
.liIcons {
    padding-right: 2rem;
    z-index: 8;
    
}
.liIcons a{
    text-decoration: none;
    font-size: 40px;
    color:var(--white)
}
#bgImage {
    left: 41%;
    position: absolute;
    z-index: 1;
    height: auto;
    max-height: 692px; 
    opacity: 0.7;
   max-width: 360px;
}
/* Side Menu */
#menuHTMLWrapper  .position{
    position:absolute;
    right: 80px;
    background: var(--darkPink);
    width: 300px;
    transition: margin-right 1s ease-out;
    z-index: 7;
    border-radius:  8px;
    text-align: right;
    padding: 15px;
    margin-top: 100px;
    opacity: .9;
    color: var(--white);
}
.show {
    z-index: 7;
    margin-right: -490px;
    transition: margin-right 1s ease-out;
}
#menuHTMLWrapper{
    color:var(--white);
    writing-mode:horizontal-tb;  
    z-index: 6;
    opacity: 1;   
}
#homeBtn a{
    text-decoration: none;
    color: var(--white);
}
#contactHTML h3 {
    font-size: 30px;
}

.contactCss a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.contactCss input {
    width: 200px;
}
.contactCss textarea{
    height: 100px;
    text-align: start;
    width: 202px;
    margin-top:5px;
}
#contactHTML {
    width: 300px;
}
.show2 {
    margin-left: 290px;
}
}

@media screen and (max-width:715px){
    #container {
       height: 100vh;
       width: 100vw;
    }
    #mainContainer {
        min-width: 100px;
        margin: 0;

    }
    #flexContainer {
        padding-left: 90px;
    }
    #aboutHTML span{
        display: flex;
        font-weight: 400;
    }
    #aboutHTML span p {
        padding: 2px;
    }
    #icons {
        padding-left: .7rem;
        z-index: 8;
        margin-top:  100px;
       }
       #ulIcons {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        z-index: 8;
    }
       #icons li{
       
        z-index: 4
       }
    #bgImage {
        left: 18%;
        z-index: 1;
        opacity: 0.4;
        width: 400px;
        border: 2px solid var(--white);
        border-radius: 10px;
        
    }
    #icons {
        padding-top: 50px;
    }
    #menuHTMLWrapper  .position{
        position:absolute;
        right: 80px;
        background: var(--darkPink);
        width: 220px;
        transition: margin-right 1s ease-out;
        z-index: 7;
        border-radius:  8px;
        text-align: right;
        padding: 15px;
        margin-top: 100px;
        opacity: .9;
        color: var(--white);
    }
    #menuHTMLWrapper p {
        font-size:  16px;
        display: inline-block;
    }
    #contactHTML {
        width: 300px;
    }
    .show2 {
        margin-left: 90px;
    }
    footer {
        text-align: center;
    }
}
@media screen and (max-width:560px){
    #bgImage {
        left: 12%;
        z-index: 1;
        opacity: 0.4;
        width: 75%;
        border: 2px solid var(--white);
        border-radius: 30px;
    }
    #sideMenu {
        margin-top:0;
        right: 5px;
        position:absolute;
        left: 40px;
        width: 280px;
    }
    #menuBar{
        writing-mode: horizontal-tb;
        display:inline-flex;
        padding: 0;
    }
    #infoContainer h1 {
        font-size: 80px;
    }
    #flexContainer {
        padding-top: 0;
        padding-left: 60px;
    }
    #hello {
        margin-top: 80px;
    }
    .liMenu {
        padding: 10px;
        font-size: 16px;
    }
    li #catImage {
        width:23px;
    }
    #menuHTMLWrapper .position {
        right: 50px;
        width: 200px;
    }
    #contactHTML {
        width: 250px;
    }
    .show2 {
        margin-left: 14%;
    }
    #icons{
        margin-left: 40px;
    }
    footer {
        text-align: center;
        margin-right: 40px;
        margin-top: 20px;
    }
}
@media screen and (max-width:390px){
    #sideMenu {
        left: 25px;
    }
    #sideMenu li a {
        font-size: 10px;
        padding: 2px;
    }
    #contactHTML {
        width: 200px;
    }
    .show2 {
        margin-left: 40px;
    }
    #menuHTMLWrapper .position {
        right: 20px;
        width: 200px;
    }
    .show {
        margin-right: -300px;
    }
}
