.brand {
  background: rgb(156, 116, 71) !important;
}
.brandText {
  color:rgb(122, 90, 53) !important;
}
li {
  list-style-type: none !important;
}
form {
  max-width: 460px;
  margin: 20px auto;
  padding: 20px;
}